--extra-index-url https://download.pytorch.org/whl/cu124
numpy 
opencv-python
trimesh 
PyOpenGL 
PyOpenGL-accelerate 
tqdm 
numba
Pillow
scipy
torch==2.4.1
torchvision==0.19.1
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git
termcolor
tinyobjloader==2.0.0rc13
matplotlib
scikit-learn
